.cuadro{
  margin: auto;  
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  gap: 5rem;
  padding: 2rem;
  background: #fff;
  text-align: center;
 
}


.cuadro input {
  padding: 0.7rem;
  border: 1px solid #000000;
  font-size: 1.5rem;
  width: 1750px;
}

.cuadro button {
  width: 350px;
  padding: 0.7rem;
  background-color:rgba(2, 73, 71, 0.904);
  color: rgba(180, 240, 238, 0.863);
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  
}
